apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-deployment
  labels:
    app: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000

      containers:
      - name: n8n
        image: docker.n8n.io/n8nio/n8n
        ports:
        - containerPort: 5678

        securityContext:
          allowPrivilegeEscalation: false

        volumeMounts:
          - mountPath: "/home/node/.n8n"
            name: n8n-data

      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-pvc


